.name{
    text-align: left;
    font-size: larger;
    color:#6B5B95;
    text-decoration-line: underline;

}
body{
    background-color: #92A8D1;
    border: solid,black;
    background-size: 50% auto;
    color:#6B5B95;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-stretch:ultra-expanded;
    font-weight: 400;
    font-display: normal;
}
.links{
    text-align: right;
    font-size: large;
    text-indent: 3%;
    font-display: bold;
    color:#5cbdb9;
    display: grid;
}
header{
    border: solid, black, 20px;
    background-color:#F7CAC9;
}
.main{

    border: solid,black;
    background-color:#F7CAC9;
        background-size: 50% auto;
    color:#6B5B95;
    text-align: center;

}
div{
    border: solid,black;
    background-color:#F7CAC9;
       background-size: 70% auto;
    color:#6B5B95;
}
h2,h3{
    font-size: 30px;
    text-decoration-line: underline;
    text-align: center;
}

.pics{
    width: 175px;
    height: 200px;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 50%;
}

#photos{
    display: flex;
    justify-content: center;
}

.portpic{
    width: 45rem;
    height: 25rem;
    margin: 4%;
}
#home:hover,#portfolio:hover,#about:hover,#contact:hover{
    background-color: bisque;
    border: #6B5B95 2px double;
}
input {
width: 40%;
border: 3px solid plum;
background-color: blanchedalmond;
border-radius: 4px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
text-align: center;
color:#6B5B95;
}
label {
font-style: italic ;
text-shadow: #6B5B95;
font-size: larger;
font-weight: bold;
}
#submit:hover{
    color: darkgrey;
    background-color: silver;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 100px;
}
#submit{
   transition: width 2s, height 1s;
   cursor: grab;
}